{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Administracion de Creditos</h1>
  <h1 class="display-4">Plan de Prestaciones de los Trabajadores</h1>
  <h1 class="display-4">de la Empresa Portuaria Nacional</h1>
  <h1 class="display-4">Santo Tomas de Castilla</h1>
  <p class="lead">Con el objetivo de facilitar la adquisicion de creditos por el Plan de Prestaciones 
    a los trabajadores de la Empornac, jubilados, pensionados y trabajadores del Plan 
    procurando el mejoramiento socioeconomico de los mismos.</p>
  <hr class="my-4">
  <p>Proporcionando analisis predictivo segun la informacion proporcionada por el articulo 9 del reglamento del mismo.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Proceder con el analisis</a>
</div>

{% endblock%}
